<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.bupp.wood_spoon_eaters">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".WoodSpoonApplication"
            android:allowBackup="false"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="supportsRtl, fullBackupContent, allowBackup">
        <activity
                android:name=".features.track_your_order.TrackYourOrderActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity"
                android:exported="true" />
        <activity
                android:name=".features.order_checkout.OrderCheckoutActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" /> <!-- <activity android:name=".delete_me.TestActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <activity android:name=".features.reviews.review_activity.ReviewActivity">

        </activity>
<!--        <activity-->
<!--                android:name=".delete_me.TestActivity"-->
<!--                android:screenOrientation="portrait"-->
<!--                android:windowSoftInputMode="adjustResize">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
<!--        </activity>-->

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCowuTI2_0q8rpGYlqueBX6nbk2kSjjitU" />
        <meta-data
                android:name="com.appsee.ApiKey"
                android:value="@string/appsee_api_key" />
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        <meta-data
                android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
                android:value="true" />

        <service
                android:name=".fcm.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_round" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

        <activity
                android:exported="true"
                android:name=".features.locations_and_address.LocationAndAddressActivity"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name=".features.new_order.NewOrderActivity" -->
        <!-- android:label="@string/title_activity_new_order" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
                android:name=".features.splash.SplashActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.bupp.wood_spoon_eaters.features.splash.TRIVIAL_STARTUP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data
                        android:host="open"
                        android:scheme="woodspooneaters" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="woodspoon.app.link"
                        android:scheme="https" />
                <data
                        android:host="woodspoon.test-app.link"
                        android:scheme="https" />
                <data
                        android:host="woodspoon-alternate.test-app.link"
                        android:scheme="https" />
                <data
                        android:host="woodspoon-alternate.app.link"
                        android:scheme="https" />
            </intent-filter>
        </activity> <!-- Branch init -->
        <meta-data
                android:name="io.branch.sdk.BranchKey"
                android:value="key_live_jgQUKCloy5j6un5oqeJJ3bcavsdX7wYj" />
        <meta-data
                android:name="io.branch.sdk.BranchKey.test"
                android:value="key_test_caHOMCbetYp9Eh0jucUXgejbBsj45D9u" />
        <meta-data
                android:name="io.branch.sdk.TestMode"
                android:value="${isTestMode}" /> <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
        <activity
                android:exported="true"
                android:name=".features.login.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".features.main.MainActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.bupp.wood_spoon_eaters.ADDRESS_LAUNCHER_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:exported="true"
                android:name=".features.restaurant.RestaurantActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"
                tools:ignore="LockedOrientationActivity" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_path" />
        </provider> <!-- Profileable to enable Macrobenchmark profiling -->
        <!-- Suppress AndroidElementNotAllowed -->
        <profileable
                android:shell="true"
                tools:targetApi="q" />
    </application>

</manifest>